body {
    margin: 0;
    font-family: Arial
}

a {
    text-decoration: none;
}


.header-logo {
    flex-direction: column;
    align-items: center;

    img {
        height: var(--Spacing-3-rem, 48px);
    }
}

.header {
    background: var(--Body-Primary-Backgorund, #FFF);
}

.topnav {
    padding: var(--spacing-05-rem, 8px) var(--Spacing-5-rem, 80px);
    overflow: hidden;
    background-color: antiquewhite;


    .navbtn {
        display: flex;
        float: right;
        text-align: center;
        align-items: center;
        padding: 0px var(--Spacing-1rem, 16px);
        height: var(--Spacing-3-rem, 48px);
        gap: var(--spacing-05-rem, 8px);
        color: black;



        &:hover {
            color: var(--Nav-hover, #00BB29);

            .material-icons {
                color: var(--Nav-hover, #00BB29)
            }

            .rt {
                transform: rotate(180deg);
                transition: transform 0.3s ease;
            }
        }

        &:focus {
            color: var(--Nav-hover, #00BB29);

            .material-icons {
                color: var(--Nav-hover, #00BB29)
            }
        }


        &:disabled {
            color: var(--Nav-disabled, #A9E8B7);

            .material-icons {
                transform: rotate(180deg);
                color: var(--Nav-disabled, #A9E8B7);
            }
        }
    }

    .active {
        color: var(--Nav-activ, #007D1B);

        .material-icons {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
            color: var(--Nav-activ, #007D1B);
        }
    }
}


.topnav .icon {
    display: none;
    padding: 12px;
}

.dropdown {
    display: block;
    float: right;
    overflow: hidden;


    .dropbtn {
        display: flex;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--Body-Nav-Background, #FFF);
    border-radius: 0px 0px 16px 16px;
    z-index: 1;

    .navbtn {
        display: flex;
        float: none;
        text-align: center;
        align-items: center;
        padding: 0px var(--Spacing-1rem, 16px);
        height: var(--Spacing-3-rem, 48px);
        gap: var(--spacing-05-rem, 8px);
        color: black;
        text-align: left;
    }
}



/* .dropdown-content .topnav .navbtn:hover,
.dropdown:hover .dropbtn {
    background-color: red;
    color: green;
} */

/* .dropdown-content .navbtn:hover {
    background-color: #ddd;
    color: green;
} */

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 800px) {
    .topnav {
        padding: var(--spacing-05-rem, 8px) 20px;
    }

    .topnav .navbtn:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 20px;
        top: 8px;
    }

    .topnav.responsive .navbtn {
        float: none;
        display: flex;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;

        #extra {
            padding: 0px 0px 0px 40px;
        }
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.material-icons {
    display: grid;
    justify-content: center;
    align-items: center;
    width: var(--spacing-15-rem, 24px);
    height: var(--spacing-15-rem, 24px);
    color: var(--icon-color-primary, #000000);


}